{% extends 'base.html' %}

{% block content %}
    {% for publication in publications %}
        <div class="card my-3">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <a href="{% url 'accounts:user_detail' publication.author.pk %}"
                       class="d-flex p-3 text-decoration-none text-secondary-emphasis">

                        <div class="mx-4 align-self-center">
                            <div class="d-inline-block rounded-circle overflow-hidden"
                                 style="width: 50px; height: 50px; ">
                                <img src="{{ publication.author.avatar.url }}" class="object-fit-cover w-100 h-100"
                                     alt="...">
                            </div>

                        </div>
                        <h2 class="fw-lighter">{{ publication.author.username }}</h2>
                    </a>
                </div>
                <div class="dropdown  align-self-center">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <img src="{{ publication.picture.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-title">
                    <form action="{% url 'webapp:publication_like' publication.pk %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link">
                            {% if request.user in publication.users_like.all %}
                                <i class="bi bi-heart-fill"></i>
                            {% else %}
                                <i class="bi bi-heart"></i>
                            {% endif %}
                        </button>
                    </form>
                    <i class="bi bi-chat"></i>
                </div>
                <p class="card-text"><small class="text-body-secondary">{{ publication.likes_count }} отметок
                    "Нравиться"</small></p>
                <p class="card-text">{{ publication.description }}</p>
                <p class="card-text"><small class="text-body-secondary">{{ publication.created }}</small></p>

            </div>
            <div class="card-footer">
                Card footer
            </div>
        </div>
    {% endfor %}



{% endblock %}